.MuiTableRow-root > * {
    padding: 10px;
  }


  @media screen and (max-width: 1200px) {
    .Table {
      width: 170%;
      margin-top: 2rem;
    }
  } 
  
  
  
  @media screen and (max-width: 768px) {
    .Table{
      position: relative;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 23rem;
    }
  }