.main {
    display: flex;
    height: 200vh;
    width: 70%;
    /* align-items: center; */
    align-items: flex-start;
    flex-direction: column;
    flex-direction: row;
    row-gap: 20px;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(2, 2, 11);
}

.search {
    width: 40%;
}

ul li {
    font-size: 20px;
} 