.Cards {
    display: flex;
    gap:60px;
  }
  .parentContainer{
    width: 20%;
  }
  
  @media screen and (max-width: 1200px) {
    .Cards{
      flex-direction: column;
    
    }
    .parentContainer{
      height: 9rem;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    .Cards{
      width: 90%;
    }
  }